<div id="footer">
	
	<div class="block block_comments">
		<h3>最新评论</h3>
		<div class="content">
			<ul>
				{foreach(model('comment')->get_recent(5) as $c)}
				<li>
					<div class="info">
						<a class="comment" href="blog/{$c['blog_url']}/#comment{$c['comment_id']}">{$c['name']}</a>
						 在 {get_past_time($c['time'])}前 说:
					</div>
					<div class="comment-content">{cn_substr($c['content'],0,30,'...')}</div>
				</li>
				{/foreach}
			</ul>
		</div>
	</div>
	
	<div class="block">
		<h3>最热文章</h3>
		<div class="content">
			<ul>
				{foreach(model('blog')->get_list(array('status'=>1,'order'=>'view_count DESC','total'=>8)) as $b)}
				<li><a href="{item_link($b)}">{cn_substr($b['name'],0,18,'...')}</a></li>
				{/foreach}
			</ul>
		</div>
	</div>
	
	<div class="block">
		<h3>文章分类</h3>
		<div class="content">
			<ul>
				{foreach(get_cats('blog_cats') as $cat)}
				<li><a href="{category_link($cat)}">{$cat['name']}</a></li>
				{/foreach}
			</ul>
		</div>
	</div>
	
	<div class="clear"></div>
</div>

<div id="bottom">
	<div class="content">
		Copyright &copy; Longbill 2008-{date('Y')} , Designed by <a href="http://www.endto.com" target="_blank">EndTo</a> , Powered by <a href="http://www.endcms.com" target="_blank">EndCMS</a>
	</div>
</div>


<script>
$(function()
{
	//处理高亮代码显示， 如果博客不需要代码高亮，那么可以删除此段
	if ($('pre').length > 0)
	{
		$('pre').each(function()
		{
			if ($(this).attr('language'))
				$(this).attr('class','brush: '+ $(this).attr('language'));
			else if ($(this).attr('lang'))
				$(this).attr('class','brush: '+ $(this).attr('lang'));
			else
			{
				if ($(this).find('code').length > 0)
				{
					$(this).attr('class','brush: '+ $(this).find('code').attr('lang'));
					$(this).html($(this).html().replace(/<code[^>]*>|<\/code>/ig,''));
				}
			 	else $(this).attr('class','brush: php');
			}
		});
		//调用scriptHighlighter
		$('<sc'+'ript src="end_blog/view/default/js/highlighter/scripts/shCore.js"></sc'+'ript>').appendTo('head');
		$('<'+'link type="text/css" rel="stylesheet" href="end_blog/view/default/js/highlighter/styles/shCore.css" />').appendTo('head');
	}
	
	
	//处理回复
	$('.comment').mouseenter(function()
	{
		$(this).find('.reply').show();
	}).mouseleave(function()
	{
		$(this).find('.reply').hide();
	});
});
</script>
</div>
</body>
</html>