<!-- INCLUDE header.html -->

<div id='content'>
	<div id='left'>
		
    	{foreach($items as $item)}
		<div class="entry">
			<a href="{item_link($item)}"><h2>{$item['name']}</h2></a>
			<div class="time">{date("F/jS Y",$item['create_time'])}</div>
			<div class="intro"><?php
			//处理read more
			$arr = explode('<!--more-->',$item['content'],2);
			echo $arr[0];
			if ($arr[1] != '')
			{
				?>
				<br /><a href="{item_link($item)}" class="more">Read More...</a>
				<?php
			}
			?></div>
			<div class="info">
				<a href="{item_link($item)}#comments" class="comments">{$item['comment_count']} Comments</a>
			</div>
		</div>
		{/foreach}
		
		<div class="pager">
			{pager_prev("上一页")}
			{pager_numbers()}
			{pager_next("下一页")}
		</div>
    </div>
	<!-- INCLUDE sidebar.html -->
	<div class="clear"></div>
</div>

<!-- INCLUDE footer.html -->