<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>


<body>
<div class='maindiv'>

	<div class="headerdiv">
		<!-- INCLUDE header.html -->
	</div>
	
	<div id='contentdiv'>
		<div id='left'>
	    	<div style="margin:10px;margin-top:30px;">
				
	        	<ul>
	                <li><a href="admin.php?p=personpreview">名人见面管理</a></li>
	            </ul>
	        	<ul>
	                <li><a href="admin.php?p=rating&itemtype=6">名人投票统计</a></li>
	            </ul>
	    		
	        </div>
	    </div>
	    <div id='maindiv'>
			<div class="description">
				名人见面管理
	        </div>
	        <div class="real_content">
				
				<!-- IF itemid -->
				<div class="nav_wrapper">
					&nbsp;当前您查询的节目是:《{itemname}》
				</div>
				<!-- ENDIF -->
				<div class="nav_wrapper">
					&nbsp;状态:
					<a href="admin.php?p=personpreview&status=all" class="nav <!-- IF status=="all" -->nav_on<!-- ENDIF -->" >全部</a>
					<a href="admin.php?p=personpreview&status=0" class="nav <!-- IF status=="0" -->nav_on<!-- ENDIF -->">待审核</a>
					<a href="admin.php?p=personpreview&status=1" class="nav <!-- IF status=="1" -->nav_on<!-- ENDIF -->" >已通过</a>
					<a href="admin.php?p=personpreview&status=2" class="nav <!-- IF status=="2" -->nav_on<!-- ENDIF -->">已删除</a>
				</div>
				
				----------------------------------------<br />
				<div style="text-align:center">{pager}</div>
	            <!-- INCLUDE personpreview_list.html -->
				<div style="text-align:center">{pager}</div>
				
	        </div>
	        
	    </div>
	</div>
	
	
	
	
	<!-- INCLUDE footer.html -->

</div>
</body>
</html>