<div >
            <table cellpadding="0" cellspacing="0" border="0" id="item_table" class="list_table" >
            	<thead>
                   	<tr>
                		<th width="" order="title">问题</th>
						<th style="width:80px;" order="up">投票次数</th>
						<th style="width:80px;" order="status">状态</th>
                        <th width="100">{OPTIONS}</th>
                    </tr>
                </thead>
                <tbody>
                
          		  	<!-- BEGIN items -->
            		<tr>
               		 	
               		 	<td><div admin_type="text"
                        	admin_para="m=update&table={top.table}&column=title&id={question_id}" 
                            admin_trigger="click">{title}</div>
                        </td>
                        
               		 	<td><div admin_type="text"
                        	admin_para="m=update&table={top.table}&column=up&id={question_id}" 
                            admin_trigger="click">{intval(up)}</div>
                        </td>

						<td><div admin_type="text"
		              	admin_para="m=update&table={top.table}&column=status&id={question_id}" 
		                    admin_select_value="{status}"
		                    admin_select_source_id="status_select"
		                    admin_trigger="click"
							>{show_status:status}</div></td>
                        	<td>
								<?php if (check_show('update')):?>
	                        	<a href = "admin.php?p=item&action=edit_item&item_id={question_id}&category_id={top.category_id}" >{EDIT}</a>
								<?php endif;?>&nbsp;
								<?php if (check_show('delete')):?>
	                            <a href="javascript:;" onclick="if (confirm('{DELETE_CONFIRM}')) change_status({question_id},2,this);">{DELETE}</a>
								<?php endif;?>&nbsp;
								<a href="admin.php?p=comment&itemid={question_id}&itemtype=question" target="_blank">评论</a>			
	                        </td>
               		</tr>
                    <!-- END -->
                    
                </tbody>
                
            </table>
</div>
            {pager}
            
            
<div style="display:none">
<select id="category_select">
	{category_tree}
</select>
</div>


<div style="display:none">
<select id="status_select">
	<!-- BEGIN statuses -->
	<option value="{index}">{value}</option>
	<!-- END -->
</select>
</div>