<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<!-- INCLUDE meta.html -->
</head>
<body>
<script>
try{ document.execCommand("BackgroundImageCache",false,true);}catch(e){ }
</script>
<div id='main'>
<?php
$all_cats = get_cats('all_categories');
?>
<div id="header">
	<h1 class="logo">
		<a href="./" title="Return to Homepage">
			<img src="{VIEW_ROOT}images/logo.gif" />
		</a>
	</h1>
	
	<div class="info">
		<a href="?cart">Shopping Cart</a>
		{if($_SESSION['user'])}
		<a href="?account">My Account</a> 
		<a href="?logout">Sign out</a>
		{else}
		<a href="?register">Register</a> 
		<a href="?login">Sign in</a> 
		{/if}
	</div>
	
	<div class="navi">
		<div class="bg-left"></div>
		<div class="bg-middle">
			<a href="./" {if(!$_GET['p'])}class="hover"{/if} >
				<div class="left"></div>
				<div class="text">Home</div>
				<div class="right"></div>
			</a>
			{foreach($all_cats as $n)}
			<a href="?cat/{$n['category_id']}" {if($cat['category_id'] == $n['category_id'])}class="hover"{/if}>
				<div class="left"></div>
				<div class="text">{$n['name']}</div>
				<div class="right"></div>
			</a>
			{/foreach}
		</div>
		<div class="bg-right"></div>
	</div>
	
	<div class="search">
		<div class="form">
			<form action="./" method="get" onsubmit="return $(this).find('[name=q]').val() != '';">
				<input type="hidden" name="p" value="search" />
				<input type="text" placeholder="Search for products..." class="text" name="q" /> 
				<select name="cid">
					<option value="">All Categories</option>
				{foreach($all_cats as $c)}
					<option value="{$c['category_id']}">{$c['name']}</option>
				{/foreach}
				</select> 
				<input type="image" src="{VIEW_ROOT}images/search-bt.gif" />
				<div class="clear"></div>
			</form>
		</div>
		<div class="hots">
			<?php
			$arr = array();
			$config['brands'] = str_replace('&nbsp;',' ',$config['brands']);
			$config['brands'] = preg_replace('/<br\s*\/?>/',',',$config['brands']);
			foreach(explode(',',$config['brands']) as $brand)
			{
				if (trim($brand))
				{
					$arr[] = '<a href="?search&q='.$brand.'">'.$brand.'</a>';
				}
			}
			echo join(' | ',$arr);
			?>
		</div>
	</div>
</div>