<!-- INCLUDE header.html -->

<div id='content'>
	<div id='left'>
		<div class="entry">
			<a href="{item_link($blog)}"><h2>{$blog['name']}</h2></a>
			<div class="time">{date("F/jS Y",$blog['create_time'])}</div>
			<div class="intro">{$blog['content']}</div>
			<div class="info">
				<a class="comments">{$blog['comment_count']} Comments</a>
			</div>
		</div>
		<!-- INCLUDE comment.html -->
    </div>
	<!-- INCLUDE sidebar.html -->
	<div class="clear"></div>
</div>

<!-- INCLUDE footer.html -->