<div id="footer">
	<div class="block">
		<h3>Categories</h3>
		<div class="content">
			<ul>
				<li><a href="./">Index</a></li>
				<li><a href="./about/">About</a></li>
				<li><a href="./">Works</a></li>
			</ul>
		</div>
	</div>
	<div class="block">
		<h3>Categories</h3>
		<div class="content">
			<ul>
				<li><a href="./">Index</a></li>
				<li><a href="./about/">About</a></li>
				<li><a href="./">Works</a></li>
			</ul>
		</div>
	</div>
	<div class="block">
		<h3>Categories</h3>
		<div class="content">
			<ul>
				<li><a href="./">Index</a></li>
				<li><a href="./about/">About</a></li>
				<li><a href="./">Works</a></li>
			</ul>
		</div>
	</div>
	<div class="clear"></div>
</div>

<div id="bottom">
	<div class="content">Copyright &copy; Longbill 2008-{date('Y')} , Designed by <a href="http://www.endto.com" target="_blank">EndTo</a></div>
</div>




</div>
</body>
</html>