<?php echo '<'.'?';?>xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
<channel>
<title>{$config['site_name']}</title>
<description>{$config['site_description']}</description>
<link>{$config['site_url']}</link>
<language>zh_CN</language>
<pubDate>{date('Y-m-d H:i:s')}</pubDate>
<lastBuildDate>{date('Y-m-d H:i:s',time()-3600)}</lastBuildDate>
<generator>EndCMS RSS Generator</generator>
<ttl>5</ttl>

{foreach($items as $i)}
<item>
	<title><![CDATA[{$i['name']}]]></title>
	<link>{$config['site_url']}{item_link($i)}</link>
	<description><![CDATA[{$i['content']}

	<br />
	<a href="{$config['site_url']}{item_link($i)}" target="_blank">{$i['comment_count']}条评论</a>
	]]></description>
	<pubDate>{date('Y-m-d H:i:s',$i['create_time'])}</pubDate>
</item>
{/foreach}

</channel>
</rss>