<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>
<body>
<div class='main'>

<div class="headerdiv">
	<!-- INCLUDE header.html -->
</div>

<div id='content'>
	<div id='admin_left'>
    	<div style="margin:10px;margin-top:30px;">
        	<ul>
				<?php if (check_show('add') && LZ_DEBUG == 'yes'):?>
				<li>
					<a href="javascript:new_config()">{CONFIG_NEW}</a>
				</li>
				<?php endif;?>
            </ul>
    		
        </div>
    </div>
    <div id='maindiv'>
    	<div class="description">
			{page_description}
        </div>
        
        <div class="real_content">
		
			<div id="new_config" style="display:<!-- IF thisconfig --><!-- ELSE -->none<!-- ENDIF -->;margin:20px;background-color:#FFFF99;width:400px;">
            	<h2>{NEW_CONFIG}</h2>
        		<!-- INCLUDE config_new.html -->
            </div>
		<!-- IF debug -->
		<input type="checkbox" onclick="$('[configname=name]').css('display',this.checked?'block':'none');" />{DISPLAY_NAME}
       	<br />
		<!-- ENDIF -->
		<table cellpadding="0" cellspacing="0" border="0" class="list_table" style="width:750px;">
			<tr>
        		<th style="width:7%">{CONFIG_ORDER_ID}</th>
        		<th style="width:35%">{CONFIG_NAME}</th>
                <th style="width:35%">{CONFIG_VALUE}</th>
				<!-- IF debug -->
                <th style="width:23%">{CONFIG_OPTIONS}</th>
				<!-- ENDIF -->
            </tr>
			<!-- BEGIN config_list -->
			<tr>
				<td valign="top">
					<div admin_type="text"
                	admin_para="m=update&table=config&column=order_id&id={config_id}"  
                    admin_trigger="click" style="text-align:center">{order_id}</div>
				</td>
				<td valign="top">
					<!-- IF top.debug -->
					<div configname="name"  admin_type="text"
            		admin_para="m=update&table=config&column=name&id={config_id}"  
                	admin_trigger="click" style="display:none">{name}</div>
					<div admin_type="text"
	            	admin_para="m=update&table=config&column=description&id={config_id}"  
	                admin_trigger="click" >{description}</div>
					<!-- ELSE -->
					{description}
					<!-- ENDIF -->
				</td>
				<td valign="top">
					<div admin_type="<?php if (!$_obj['type']) echo 'text'; else echo $_obj['type']; ?>"
                	admin_para="m=update&table=config&column=value&id={config_id}"  
                    admin_trigger="click" >{value}</div>
				</td>
				<!-- IF top.debug -->
				<td valign="top">
					<?php if (check_show('delete')):?>
					<a href="javascript:;" onclick="if (confirm('{DELETE_CONFIRM}')) delete_config({config_id},this)">{CONFIG_DELETE}</a>
					<?php endif;?>
				</td>
				<!-- ENDIF -->
			</tr>
			<!-- END -->
		</table>

                <br />
                <br />


        </div>
        
    </div>
</div>

<script>

function new_config()
{
	$('#new_config').fadeTo(10,0).slideDown(200).fadeTo('fast',1);
}
function cancel_new_config()
{
	$('#new_config').fadeTo('fast',0).slideUp(200);
}
function delete_config(id,o)
{
	$(o).attr('to_be_delete','yes').html('{DELETING}').unbind('click');
	$.post('admin.php?p=ajax&m=delete&table=config&id='+id,{ },delete_callback);
}
function delete_callback(s)
{
	if (s == 'error')
	{
		alert('{DELETE_ERROR}');
		return false;
	}
	$('[to_be_delete=yes]').parent().parent().fadeOut();
}

</script>

<!-- INCLUDE footer.html -->

</div>
</body>
</html>