<div class="footer">
Copyright @ <a href="http://longbill.cn" target="_blank">Longbill</a> ({time_used}s) ({total_query})
</div>
<script src="end_system/plugin/ckeditor/ckeditor.js"></script>
<script>
$(function()
{
	//是否启动点击编辑功能
	if (!can_not_update) load_admin();
	//替换富文本编辑框
	if ($('textarea[rich]').length > 0)
	{
	
		$('textarea[rich]').each(function()
		{
			CKEDITOR.replace( this.id,
			{
				height:$(this).height(),
				skin:'v2',
				width:$(this).width()
			});
		});
	}
	
	
	
	//处理排序
	var url = window.location.href.toString();
	$('th[order]').each(function()
	{
		var order = $(this).attr('order');
		var text = $(this).html();
		if (!order || !text) return;
		var extra = '';
		$(this).html('');
		//新的排序
		var new_url = url.replace(/\&(order|desc|asc)=\w+/ig,'').replace(/\&page=\d+/ig,'');
		new_url+= '&order='+order;
		
		var reg = new RegExp("order\="+order,"i");
		if (reg.test(url)) //如果是用当前排序
		{
			if (/asc\=true/.test(url)) //如果倒序
			{
				new_url += '&desc=true';
				extra = $('<img src="end_admin/view/images/asc.gif" />');
			}
			else
			{
				new_url += '&asc=true';
				extra = $('<img src="end_admin/view/images/desc.gif" />');
			}			
		}
		$(this).append($('<a href="'+new_url+'">'+text+'</a>')).append(extra);
	});
	
	//处理搜索
	var url = window.location.href.toString();
	$('th[search]').each(function()
	{
		var search = $(this).attr('search');
		
		var dom = $('<a href="javascript:;" style="font-weight:100%;margin-left:20px;">搜</a>');
		dom.click(function(event)
		{
			$('<div class="small_popup"><input search="'+search+'" type="text" size="10" id="search_text" /></div>').css(
				{
					left:event.clientX+10,
					top:event.clientY
				}).appendTo('body');
			setTimeout(function(){ $('#search_text').focus();},100);
			$('#search_text').keydown(function(event)
			{
				if (event.keyCode == 13)
				{
					var search = $(this).attr('search');
					var reg = new RegExp('(\\?|\\&)search\\['+search+'\\]\\=([^&]+)','i');
					var newurl = window.location.href.toString().replace(reg,'');
					newurl += '&search['+search+']='+encodeURIComponent($(this).val());
					window.location = newurl;
				}
			}).blur(function()
			{
				$('.small_popup').fadeOut(200,function()
				{
					$(this).remove();
				});
			});
		});
		$(this).append(dom);
		var value = url.match(new RegExp('(\\?|\\&)search\\['+search+'\\]\\=([^&]+)','i'));
		if (value && value.length && value[2])
		{
			value = decodeURI(value[2]);
			$(this).append($('<span>:'+value+' <a style="font-size:10px;" href="javascript:close_search(\''+search+'\');"><sup >x</sup></a></span>'));
		}
	});
});
function close_search(search)
{
	var reg = new RegExp('(\\?|\\&)search\\['+search+'\\]\\=([^&]+)','i');
	var newurl = window.location.href.toString().replace(reg,'');
	window.location = newurl;
}
</script>