<div id="admin_logo">
	<h1><a href="#" title="易思cms">易思cms</a></h1>
	<div id="admin_info">
		当前登录为: <span class="username">{_session.login_user.name}</span> 
		<a href="admin.php?p=account">修改密码</a> 
		<a href="admin.php?p=login&m=logout&module=admin&backurl=index.php">注销登录</a>
	</div>
</div>
<div id="admin_menu">
<ul>
    <ul>
		
		<li><a href='admin.php' <?php 
		if (END_CONTROLLER == "index") echo " class='hover' "
		?>>{INDEX}</a></li>
        <?php

	$display_controllers = array(
		'item',
		'category',
		'admin',
		'config',
	);
	foreach($display_controllers as $_p)
	{
		if (!$_SESSION['login_user']['allowed_controllers'][$_p]) continue;
		echo "<li><a  ";
		if (END_CONTROLLER == $_p) echo " class='hover' ";
		echo "href='admin.php?p={$_p}'>".lang('NAVI_'.$_p)."</a></li>";
	}
	?>
	<!--         
	        <li style="background:none;"><a href='admin.php?p=login&m=logout&module=admin&backurl=index.php'>{LOGOUT}</a></li> -->
	</ul>
  </ul>
</div>
<script>
<?php if (!check_show('update')):?>
can_not_update = true;
<?php endif;?>
</script>
