<table cellpadding="0" cellspacing="0" border="0" id="item_table" class="list_table">
<?php

/*
根据配置生成编辑页面的各个输入字段
*/
	foreach($_obj['fields'] as $name=>$data)
	{
		if (preg_match('/^__/',$name)) continue;
		echo "<tr><th>{$data[name]}";
		echo "</th>";
		echo "<td>";
		
		//显示之前的预处理
		if ($data['prefilter'] && function_exists($data['prefilter']))
		{
			$_obj['content'][$name] = $data['prefilter']($_obj['content'][$name]);
		}
		
		//简单文字输入
		if ($data['type'] == 'text')
		{
			echo htmlspecialchars($_obj[content][$name]);
		}
		//复选框
		elseif ($data['type'] == 'checkbox')
		{
			echo $_obj[content][$name];
		}
		//文件
		elseif ($data['type'] == 'file')
		{	
			$t = $_obj[content][$name];
			if(!empty($_obj[content]['file_name'])) {
				$t = $_obj[content]['file_name'];
			} 
			echo "<a href='{$_obj[content][$name]}' target='_blank'>{$t}</a>";
		}
		//多行文本
		elseif ($data['type'] == 'textarea')
		{
			echo htmlspecialchars($_obj[content][$name]);
		}
		//下拉选框
		elseif ($data['type'] == 'select')
		{
			foreach($data['options'] as $_val=>$_name)
			{
				echo " $_name ";
			}
			
		}
		//日期时间
		elseif ($data['type'] == 'datetime')
		{
			$t = $_obj[content][$name];
			echo $t;

		}
		//超文本编辑器
		elseif ($data['type'] == 'richtext')
		{
			echo $_obj[content][$name];
		}
		if ($data['description']) echo $data['description'];
		echo "</td></tr>\n";
	}
?>
<tr>
	<td colspan="2" style="text-align:center;"><a href="javascript:history.go(-1);">返回上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="admin.php?p=item&category_id={top.category_id}">返回栏目</a></td>
</tr>
</table>