
<table cellpadding="0" cellspacing="1" border="0" class="align_center list_table" id="admin_table">
            	<thead>
                   	<tr>
                		<th order="person_name">名人姓名</th>
                        <th width="190" order="created_at">添加时间</th>
                   		<th width="250" order="user_id">添加者的用户Id</th>
                        <th width="100">操作</th>
                        
                    </tr>
                </thead>
                <tbody>
                
          		  	<!-- BEGIN person_previews -->
            		<tr>
               		 	<td>{person_name}</td>
                        <!--<td>{preg_replace("/(^20)|(\:\d\d$)/","",created_at)}</td>-->
						<td>{preg_replace("/(\:\d\d$)/","",created_at)}</td>
               		    <td>{user_id}</td>
                        
                        <td>
                        <!-- IF status!="1" -->
                        <a href="javascript:;" onclick="delete_user({person_preview_id},1,this)">通过</a> 
                        <!-- ENDIF -->
                        <!-- IF status!="2" -->
                        <a href="javascript:;" onclick="delete_user({person_preview_id},2,this)">删除</a>
                        <!-- ENDIF -->
                        </td>
                       
               		</tr>
                    <!-- END -->
                    
                </tbody>
                
</table>

<script>

function delete_user(id,value,o)
{
	$(o).attr('to_be_delete','yes').html('{DELETING}').unbind('click');
	$.post('admin.php?p=ajax&m=update&column=status&table=personpreview&id='+id,{ value:value },delete_callback);
}

function delete_callback(s)
{
	if(parseInt(s)>0)
		$('[to_be_delete=yes]').parent().parent().fadeOut();
		else
			alert(s);
}
</script>