<form action="admin.php?m=edit_user&p=user&user_id={user_id}" method="post" enctype="multipart/form-data">
	<table >
		<!-- INCLUDE edit_fields.html -->
		<tr>
			<td>状态</td>
			<td>
				<select name="status">
					<!-- BEGIN statuses -->
					<option value="{index}" 
						<!-- IF index=top.content.status -->selected="selected"<!-- ENDIF -->
						>{strip_tags:value}</option>
					<!-- END -->
				</select>
			</td>
		</tr>
        <tr>
        	<td colspan="2" align="center">
				<input type="submit" value="{SUBMIT}" /> &nbsp;
				<input type="button" value="{RETURN}"  onclick="if (confirm('{RETURN_ALERT}')) history.go(-1);" /> &nbsp;
			</td>
        </tr>
	</table>
</form>