<div>
	<h2>用户信息</h2>
	<table  cellpadding="0" cellspacing="0" border="0" class="align_center list_table" width="100%">
		<tr>
			<th>用户名</th><td>{userinfo.username}</td>
			<th>Email</th><td>{userinfo.email}</td>
		</tr>
		<tr>
			<th>真实姓名</th><td>{userinfo.real_name}</td>
			<th>身份证</th><td>{userinfo.id_card_no}</td>
		</tr>
		<tr>
			<th>电话</th><td>{userinfo.phone}</td>
			<th>手机</th><td>{userinfo.mobile}</td>
		</tr>
		<tr>
			<th>省份</th><td>{userinfo.province}</td>
			<th>地址</th><td>{userinfo.address}</td>
		</tr>
	</table>
	<!-- IF auctionobj.status == "1" -->
	<div style="padding-left:24px;">
		<a href="javascript:;" onclick="invalidUser({auction_id},{userinfo.user_id},this)">设置该用户的所有叫价为无效</a>
	</div>
	<!-- ENDIF -->
</div>

<div>
	<h2>叫价记录</h2>
	<table cellpadding="0" cellspacing="0" border="0" class="align_center list_table" width="100%">
		<tr>
			<th>金额</th>
			<th>时间</th>
			<th>状态</th>
			<!-- IF auctionobj.status == "1" -->
			<th>操作</th>
			<!-- ENDIF -->
		</tr>
		<!-- BEGIN bids -->
		<tr>
			<td>{amount}</td>
			<td>{created_at}</td>
			<td>{show_bidstatus:status}</td>
			<!-- IF top.auctionobj.status == "1" -->
			<td>
			<!-- IF status == "0" -->
			<a href="javascript:;" onclick="invalidBid({auction_bid_id}, 1, this)">设置为无效</a>
			<!-- ELSE -->
			<a href="javascript:;" onclick="invalidBid({auction_bid_id}, 0, this)">设置为有效</a>
			<!-- ENDIF -->
			</td>
			<!-- ENDIF -->
		</tr>
		<!-- END -->
	</table>
</div>