<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>
<body>
<div class='maindiv'>

<div class="headerdiv">
	<!-- INCLUDE header.html -->
</div>

<div id='content' style="margin:0px;padding:0px;">
	<div id='admin_left' onselectstart="return false;">
        	<div style="margin:4px;margin-top:10px;">
	        	<h2>{CATEGORIES_TREE}</h2>
				<div id="category_tree">
					<ul>
						<li><a href="admin.php?p=category" <!-- IF category_id="0" -->class="tree_on" <!-- ENDIF --> >{ROOT_CATEGORY}</a></li>
						<li>{all_category}</li>
					</ul>
				</div>
	        </div>
    </div>
    <div id='maindiv'>
    	<div class="description">
			{page_description}
        </div>
		<div class="position">
			{CURRENT_POSITION}:{NAVI_CATEGORY} > <a href="admin.php?p=category">{CATEGORY_ROOT}</a> > 
			<!-- BEGIN position -->
			 <a href="admin.php?p=category&category_id={category_id}">{name}</a> > 
			<!-- END -->
			{this_category.name}
		</div>
		
		<!-- IF !page_content -->
		<div class="nav_wrapper">
			&nbsp;{AVAIL_ACTIONS}:
			<?php if (check_show('add')):?>
				
				<a class="nav" href="javascript:new_category()" id='new_category_a'>
					{NEW_CHILD_CATEGORY}
				</a>
			<?php endif;?>
			<?php if (check_show('update')):?>
				<a class="nav" href="admin.php?p=category&action=edit_category&category_id={category_id}" >
					{EDIT_THIS_CATEGORY}
				</a>
			<?php endif;?>
			
		</div>
		<!-- ENDIF -->
		
        <!-- IF err_msg -->
        <div class="err_msg pad">
        	{err_msg}
        </div>
        <!-- ENDIF -->
        
        <!-- IF success_msg -->
        <div class="success_msg pad">
        	{success_msg}
        </div>
        <!-- ENDIF -->
        
        <div class="real_content">
        	<!-- IF page_content -->
				{page_content}
			<!-- ELSE -->
	        	<div id="new_category" style="display:<!-- IF category --><!-- ELSE -->none<!-- ENDIF -->;margin:20px;background-color:#FFFF99;width:400px;">
	            	<h2>{NEW_CATEGORY}</h2>
	        		<!-- INCLUDE category_new.html -->
	            </div>
	            <!-- INCLUDE category_list.html -->
			<!-- ENDIF -->
			<br />
        </div>
    
    </div>
	<div style="clear:both;"></div>
</div>
<script>
$(function()
{
	var root = $('#category_tree').children('ul');
	root.find('li').each(function()
	{
		var li = $(this);
		if (li.children('a').length > 0)
		{
			if (li.next('li').children('ul').children('li').length > 0 )
			{
				$('<img src="end_admin/view//images/plus.png" border="0" class="expand_button" />')
				.click(function()
				{
					var exp_bt = this;
					li.next('li').slideToggle(300,function()
					{
						$(exp_bt).attr('src',$(this).is(':visible')?'end_admin/view/images/minus.png':'end_admin/view/images/plus.png');
					});
					
				}).prependTo(li);
			}
			else
			{
				$('<span class="expand_button"></span>').prependTo(li);
			}
		}
		else if (li.children('ul').length > 0)
		{
			li.hide();
		}
	});
	root.parent().show();
	var tree_on = root.find('a.tree_on');
	tree_on.parent('li').find('.expand_button').attr('src','end_admin/view/images/minus.png');
	if (tree_on.length > 0)
	{
		var li = tree_on.parents('li').show();
		li.next('li').show();
		while(li.parents('li').length > 0)
		{
			li = li.parents('li');
			li.show();
			li.prev('li').find('.expand_button').attr('src','end_admin/view/images/minus.png');
		}
	}
});
function delete_category(id,o)
{
	$(o).attr('to_be_delete','yes').html('{DELETING}').unbind('click');
	$.post('admin.php?p=ajax&m=delete&table=category&id='+id,{ },delete_callback);
}
function delete_callback(s)
{
	if (s != 'success')
	{
		alert('{DELETE_ERROR}');
		return false;
	}
	$('[to_be_delete=yes]').parent().parent().fadeOut();
}
function new_category()
{
	$("#new_category_a").addClass('nav_on');
	$('#new_category').fadeTo(10,0).slideDown(200).fadeTo('fast',1);
}
function cancel_new_category()
{
	$("#new_category_a").removeClass('nav_on');
	$('#new_category').fadeTo('fast',0).slideUp(200);
}
function change_category(o)
{
	if ($(o).val())
	{
		window.location = "admin.php?p=category&category_id="+ $(o).val();
	}
}
</script>
<!-- INCLUDE footer.html -->

</div>
</body>
</html>