<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>


<body>
<div class='maindiv'>

	<div class="headerdiv">
		<!-- INCLUDE header.html -->
	</div>
	
	<div id='contentdiv'>
		<div id='admin_left'>
	    	<div style="margin:10px;margin-top:30px;">
				
	        	<ul>
	                <li><a href="admin.php?p=comment">评论管理</a></li>
	            </ul>
	    		
	        </div>
	    </div>
	    <div id='maindiv'>
			<div class="description">
				评论管理
	        </div>
	        <div class="real_content">
	        	<!-- IF !itemid -->
				<div class="nav_wrapper">
					&nbsp;类别:
					<a href="admin.php?p=comment&itemtype=all&status={status}" class="nav <!-- IF itemtype=="all" -->nav_on<!-- ENDIF -->">全部</a>
					<a href="admin.php?p=comment&itemtype=program&status={status}" class="nav <!-- IF itemtype=="program" -->nav_on<!-- ENDIF -->">直播提问</a>
					<a href="admin.php?p=comment&itemtype=video&status={status}" class="nav <!-- IF itemtype=="video" -->nav_on<!-- ENDIF -->">点播评论</a>
					
				</div>
				<!-- ENDIF -->
				
				<!-- IF itemid -->
				<div class="nav_wrapper">
					&nbsp;当前您查询的节目是:《{itemname}》
				</div>
				<!-- ENDIF -->
				<div class="nav_wrapper">
					&nbsp;状态:
					<a href="admin.php?p=comment&itemtype={itemtype}&status=all&itemid={itemid}" class="nav <!-- IF status=="all" -->nav_on<!-- ENDIF -->" >全部</a>
					<!-- BEGIN statuses -->
					<a href="admin.php?p=comment&itemtype={parent.itemtype}&status={id}&itemid={parent.itemid}" class="nav <!-- IF parent.status==id && parent.status!="all" -->nav_on<!-- ENDIF -->">{name}</a>	
					<!-- END -->
				</div>
				
				----------------------------------------<br />
				<div style="text-align:center">{pager}</div>
	            <!-- INCLUDE comment_list.html -->
				<div style="text-align:center">{pager}</div>
				
	        </div>
	        
	    </div>
	</div>
	
	
	
	
	<!-- INCLUDE footer.html -->

</div>
</body>
</html>