<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>
<body>
<div class='maindiv'>

<div class="headerdiv">
	<!-- INCLUDE header.html -->
</div>

<div id='content'>
	<div id='admin_left' onselectstart="return false;">
		<div id="admin_left_b">
	    	<div class="module">
	        	<h2></h2>
				<div >
				</div>
	        </div>
		</div>
    </div>
    <div id='main'>
		<div id="main_b">
			<div id="position">
				{CURRENT_POSITION}: 系统设置
			</div>
			
	        <div id="admin_content">
				<div class="nav_wrapper">
					<?php if (check_show('add') && END_DEBUG == 'yes'):?>
					&nbsp;{FUNCTION}:<a href="javascript:;" class="nav" onclick="new_config(this)">{CONFIG_NEW}</a>
					<?php endif;?>
				</div>
				
				<div id="new_config" class="new-form" style="display:<!-- IF thisconfig --><!-- ELSE -->none<!-- ENDIF -->;width:400px;">
	            	<h2>{NEW_CONFIG}</h2>
	        		<!-- INCLUDE config_new.html -->
	            </div>
		
				<div class="nav_wrapper">
					<!-- IF debug -->
					<input id="showconfignamecheck" type="checkbox"
					 onclick="$('[configname=name]').css('display',this.checked?'block':'none');" 
					/><label for="showconfignamecheck" style="-webkit-user-select:none;-moz-user-select:none;" unselectable="on">{DISPLAY_NAME}</label>
					<!-- ENDIF -->
				</div>
		
				<table class="list_table" >
					<tr>
		        		<th style="width:7%">{CONFIG_ORDER_ID}</th>
		        		<th style="width:35%">{CONFIG_NAME}</th>
		                <th style="width:35%">{CONFIG_VALUE}</th>
						<!-- IF debug -->
		                <th style="width:23%">{CONFIG_OPTIONS}</th>
						<!-- ENDIF -->
		            </tr>
					<!-- BEGIN config_list -->
					<tr>
						<td valign="top">
							<div admin_type="text"
		                	admin_para="m=update&table=config&column=order_id&id={config_id}"  
		                    admin_trigger="click" style="text-align:center">{order_id}</div>
						</td>
						<td valign="top">
							<!-- IF top.debug -->
							<div configname="name"  admin_type="text"
		            		admin_para="m=update&table=config&column=name&id={config_id}"  
		                	admin_trigger="click" style="display:none">{name}</div>
							<div admin_type="text"
			            	admin_para="m=update&table=config&column=description&id={config_id}"  
			                admin_trigger="click" >{description}</div>
							<!-- ELSE -->
							{description}
							<!-- ENDIF -->
						</td>
						<td valign="top">
							<div admin_type="<?php if (!$_obj['type']) echo 'text'; else echo $_obj['type']; ?>"
		                	admin_para="m=update&table=config&column=value&id={config_id}"  
		                    admin_trigger="click" style="overflow:hidden;height:20px;" >{value}</div>
						</td>
						<!-- IF top.debug -->
						<td valign="top">
							<?php if (check_show('delete')):?>
							<a href="javascript:;" onclick="if (confirm('{DELETE_CONFIRM}')) delete_config({config_id},this)">{CONFIG_DELETE}</a>
							<?php endif;?>
						</td>
						<!-- ENDIF -->
					</tr>
					<!-- END -->
				</table>

	                <br />
	                <br />


	        </div>
     	</div>
    </div>
</div>

<script>

function new_config(o)
{
	$(o).addClass('nav_on').attr('newconfig','yes');
	$('#new_config').fadeTo(10,0).slideDown(200).fadeTo('fast',1);
}
function cancel_new_config()
{
	$('a[newconfig=yes]').removeClass('nav_on');
	$('#new_config').fadeTo('fast',0).slideUp(200);
}
function delete_config(id,o)
{
	$(o).attr('to_be_delete','yes').html('{DELETING}').unbind('click');
	$.post('admin.php?p=ajax&m=delete&table=config&id='+id,{ },delete_callback);
}
function delete_callback(s)
{
	if (s == 'error')
	{
		alert('{DELETE_ERROR}');
		return false;
	}
	$('[to_be_delete=yes]').parent().parent().fadeOut();
}

</script>

<!-- INCLUDE footer.html -->

</div>
</body>
</html>