<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>
<body>
<div class='main'>

<div class="headerdiv">
	<!-- INCLUDE header.html -->
</div>

<div id='content'>
	<div id='admin_left'>
    	<div id="admin_left_b">
        	<ul>

            </ul>
    		
        </div>
    </div>
    <div id='main'>    
        <div id="main_b">
        	{page_content}
        </div>
        
    </div>
</div>


<!-- INCLUDE footer.html -->

</div>
</body>
</html>