<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>
<body>
<div class='maindiv'>

<div class="headerdiv">
	<!-- INCLUDE header.html -->
</div>

<div id='content'>
	<div id='admin_left' onselectstart="return false;">
		<div id="admin_left_b">
	    	<div class="module">
	        	<h2></h2>
				<div>
					
				</div>
	        </div>
		</div>
    </div>
    <div id='main'>    
        <div id="main_b">
			<div id="position">
				{CURRENT_POSITION}: 后台首页
			</div>
        	{page_content}
        </div>
        
    </div>
</div>


<!-- INCLUDE footer.html -->

</div>
</body>
</html>