<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>
<body>
<div class='maindiv'>

<div class="headerdiv">
	<!-- INCLUDE header.html -->
</div>

<div id='content'>
	<div id='admin_left' onselectstart="return false;">
		<div id="admin_left_b">
	    	<div class="module">
	        	<h2>{CATEGORIES_TREE}</h2>
				<div id="category_tree" style="display:none">
					<ul>
						<li><a href="admin.php?p=item" <!-- IF category_id="0" -->class="tree_on" <!-- ENDIF --> >{ROOT_CATEGORY}</a></li>
						<li>{all_category}</li>
					</ul>
				</div>
	        </div>
		</div>
    </div>

    <div id='main'>
	
        <div id="main_b">
			<div id="position">
				{CURRENT_POSITION}:{NAVI_ITEM} > <a href="admin.php?p=item">{CATEGORY_ROOT}</a> > 
				<!-- BEGIN position -->
				 <a href="admin.php?p=item&category_id={category_id}">{name}</a> > 
				<!-- END -->
			</div>
  	      <!-- IF page_content -->
	        	{page_content}
				<br />
	        <!-- ELSE -->
			
			
			<div id="admin_content">
			<!-- IF this_category.is_list -->
				<!-- IF category_id -->
				<div class="nav_wrapper">
					&nbsp;{FUNCTION}:
					<?php if(check_show('add')){?>
					<a class="nav" href="admin.php?p=item&action=new_item&category_id={category_id}">{NEW_ITEM}</a>
					<?php };?>
				</div>
				<!-- ENDIF -->
				<div class="nav_wrapper">
					&nbsp;{DISPLAY}:
					<a 
						href="admin.php?p=item&category_id={category_id}"  
						class="nav <!-- IF current_status_all -->nav_on<!-- ENDIF -->">{SHOW_ALL}</a>
					<!-- BEGIN statuses -->
					<a 
						href="admin.php?p=item&status={index}&category_id={parent.category_id}" 
						class="nav <!-- IF index==parent.status -->nav_on<!-- ENDIF -->">{strip_tags:value}</a>
					<!-- END -->
				</div>
			
				{list_content}
			
			<!-- ELSE -->
				<!-- IF category_id -->
				{CLICK_TO_EDIT_CATEGORY}<a href="admin.php?p=category&action=edit_category&category_id={category_id}">{CLICK_HERE}</a>
				<!-- ELSE -->
				<a href="<?php echo UMV_INDEX; ?>/index.php" target="_blank">预览首页</a><br />
				<a href="<?php echo UMV_INDEX; ?>/index.php?generateHtml=1" target="_blank">更新首页轮播图</a><br />
				<a href="<?php echo UMV_INDEX; ?>/index.php?generateHtml=2" target="_blank">生成首页</a><br />
				
				<!-- ENDIF -->
			<!-- ENDIF -->
			</div>
        <!-- ENDIF -->
        </div>
    </div>
	<div style="clear:both;"></div>
</div>

<script type="text/javascript">
$(function()
{
	var root = $('#category_tree').children('ul');
	root.parent().show();
	root.find('li').each(function()
	{
		var li = $(this);
		if (li.children('a').length > 0)
		{
			if (li.next('li').children('ul').children('li').length > 0 )
			{
				$('<img src="end_admin/view/images/plus.png" border="0" class="expand_button" />')
				.click(function()
				{
					var exp_bt = this;
					li.next('li').slideToggle(300,function()
					{
						$(exp_bt).attr('src',$(this).is(':visible')?'end_admin/view/images/minus.png':'end_admin/view/images/plus.png');
					});
					
				}).prependTo(li);
			}
			else
			{
				$('<span class="expand_button"></span>').prependTo(li);
			}
		}
		else if (li.children('ul').length > 0)
		{
			li.hide();
		}
	});
	
	var tree_on = root.find('a.tree_on');
	tree_on.parent('li').find('.expand_button').attr('src','end_admin/view/images/minus.png');
	if (tree_on.length > 0)
	{
		var li = tree_on.parents('li').show();
		li.next('li').show();
		while(li.parents('li').length > 0)
		{
			li = li.parents('li');
			li.show();
			li.prev('li').find('.expand_button').attr('src','end_admin/view/images/minus.png');
		}
	}
	
	root.find('a.status_folder').click(function(event)
	{
		event.preventDefault();
		$(this).prev().trigger('click');
		return false;
	});
	
});


function delete_item(id,o)
{
	$(o).attr('to_be_delete','yes').html('{DELETING}').unbind('click');
	$.post('admin.php?p=ajax&m=delete&table={table}&id='+id,{ },delete_callback);
}
function delete_callback(s)
{
	if (s == 'error')
	{
		alert('{DELETE_ERROR}');
		return false;
	}
	$('[to_be_delete=yes]').parent().parent().fadeOut();
}
function change_category(o)
{
	if ($(o).val())
	{
		window.location = "admin.php?p=item&category_id="+ $(o).val();
	}
}

function change_status(id,value,o)
{
	$(o).attr('to_be_delete','yes').html('{DELETING}').unbind('click');
	$.post('admin.php?p=ajax&m=update&column=status&table={table}&id='+id,{ value:value },function(s)
	{
		if (parseInt(s) != s)  alert(s);
		else
			delete_callback();
	});
}
</script>
<!-- INCLUDE footer.html -->

</div>
</body>
</html>