<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>


<body>
<div class='maindiv'>

	<div class="headerdiv">
		<!-- INCLUDE header.html -->
	</div>
	
	<div id='contentdiv'>
		<div id='left'>
	    	<div style="margin:10px;margin-top:30px;">
				
	        	<ul>
	        	<?php if (check_show('add')) {?>
	                <li><a href="admin.php?p=page&add=1">增加页面</a></li>
	            <?php }?>
	            </ul>
	    		
	        </div>
	    </div>
	   
	    <div id='maindiv'>
	     <div class="description">
				页面管理
	        </div>
	         <!-- IF edit -->
	        <form id="editpage" method="post" action="admin.php?p=page&pageid={editpage.page_id}&edit=1">
			        标题：&nbsp;&nbsp;&nbsp;<input id="title" name="title" value="{editpage.title}"></input> <br />
			   文件名： <input id="pagename" name="pagename" onblur="checkpagename()" type="hidden" value="{editpage.page_name}"></input>
			   <input id="pagename" name="pagename" onblur="checkpagename()" disabled="disabled" value="{editpage.page_name}"></input>例如：action.php 
			   <span id="notice" style="color:red"></span><br />
			   模板内容：<br />
			   <textarea id ="content" name="content" style="width:700px;height:400px;" >{editpage.content}</textarea> <br />
			   <input id="fabu" type="submit" value="发布" onclick="return confirm('确定发布？')"></input>
			   <input id="draft" type="button" value="存为草稿" onclick="fdraft()"/>
			   <br />
	        </form>
	        <!-- ELSEIF add -->
	        <form id="newpage" method="post" action="admin.php?p=page">
			        标题：&nbsp;&nbsp;&nbsp;<input id="title" name="title"></input> <br />
			   文件名：<input id="pagename" name="pagename" onblur="checkpagename()"></input>例如： action.php
			   <span id="notice" style="color:red"></span><br />
			   模板内容：<br />
			   <textarea id ="content" name="content"style="width:700px;height:400px;" ></textarea> <br />
			   <input id="fabu" type="submit" value="发布" onclick="return confirm('确定发布？')" disabled="disabled"/>
			   <input id="draft" type="button" value="存为草稿" disabled="disabled" onclick="fdraft()"/>
			   <br />
	        </form>
	        <!-- ELSE -->
	        <div class="real_content">
	        	
				<div style="text-align:center">{pager}</div>
	            <!-- INCLUDE page_list.html -->
				<div style="text-align:center">{pager}</div>
				
	        </div>
	        <!-- ENDIF -->
	    </div>
	</div>
<script>
function checkpagename(){
	var pagename = $('#pagename').val().replace(/^\s+|\s+$/g,'');
	if(pagename == ''){
		$('#notice').html("文件名不能为空！");
		$('#fabu').attr('disabled','disabled');
		$('#draft').attr('disabled','disabled');
		}else{
			$.post('admin.php?p=page&check=1',{ pagename:pagename },function(data){
				if(data == 1){
					$('#notice').html("文件名不能重复！");
					$('#fabu').attr('disabled','disabled');
					}else{
						$('#notice').html("");
						$('#fabu').removeAttr('disabled');
						$('#draft').removeAttr('disabled');
						}
				});
			}
	
}
function fdraft(){
	var pagename = $('#pagename').val();
	var title = $('#title').val();
	var content = $('#content').val();
	var pageid = '{editpage.page_id}';
	$.post('admin.php?p=page&draft=1&pageid='+pageid, { pagename:pagename,title:title,content:content },function(data){
		window.location.href="admin.php?p=page";
		});
}
</script>	
	
	
	
	<!-- INCLUDE footer.html -->

</div>
</body>
</html>