<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN"> 
<head>
	<!-- INCLUDE meta.html -->
</head>


<body>
<div class='maindiv'>

	<div class="headerdiv">
		<!-- INCLUDE header.html -->
	</div>
	
	<div id='contentdiv'>
		<div id='left'>
	    	<div style="margin:10px;margin-top:30px;">
				
	        	<ul>
	                <li><a href="admin.php?p=personpreview">名人见面管理</a></li>
	            </ul>
	        	<ul>
	                <li><a href="admin.php?p=rating&itemtype=6">名人投票统计</a></li>
	            </ul>
	    		
	        </div>
	    </div>
	    <div id='maindiv'>
			<div class="description">
				名人投票统计
	        </div>
	        <div class="real_content">

				<div style="text-align:center">{pager}</div>
	            <!-- INCLUDE rating_list.html -->
				<div style="text-align:center">{pager}</div>
				
	        </div>
	        
	    </div>
	</div>
	
	
	
	
	<!-- INCLUDE footer.html -->

</div>
</body>
</html>