
<table cellpadding="0" cellspacing="1" border="0" class="align_center list_table" id="admin_table">
            	<thead>
                   	<tr>
                		<th order="person_name">名人姓名</th>
                        <th width="190" order="up">被顶次数</th>
                   		<th width="250" order="down">被踩次数</th>    
                    </tr>
                </thead>
                <tbody>
                
          		  	<!-- BEGIN ratings -->
            		<tr>
               		 	<td>{person_name}</td>
               		    <td>{intval(up)}</td>
						<td>{intval(down)}</td>
               		</tr>
                    <!-- END -->
                    
                </tbody>
                
</table>