
<table cellpadding="0" cellspacing="1" border="0" class="align_center list_table" id="user_table">
            	<thead>
                   	<tr>
                		<th order="username">{USER_NAME}</th>
                   		<th width="30%" order="email">{EMAIL}</th>
						<th width="20%" order="created_at">注册日期</th>
						<th width="50" order="status">状态</th>
                        <th width="20%">{USER_OPTIONS}</th>
                    </tr>
                </thead>
                <tbody>
                
          		  	<!-- BEGIN users -->
            		<tr>
               		 	<td>{username}</td>
               		    <td><div>{email}</div></td>
						<td>{preg_replace("/\:\d\d$/","",created_at)}</td>
						<td><div admin_type="text"
		              	admin_para="m=update&table=user&column=status&id={user_id}" 
		                    admin_select_value="{status}"
		                    admin_select_source_id="status_select"
		                    admin_trigger="click"
							>{show_status:status}</div></td>
                        <td>
							<?php if(check_show('update')):?>
                        	<a href="admin.php?p=user&action=edit_user&user_id={user_id}" >{EDIT}</a>
							<?php endif;?>
                        </td>
               		</tr>
                    <!-- END -->
                    
                </tbody>
                
</table>

<div style="display:none">
<select id="status_select">
	<!-- BEGIN statuses -->
	<option value="{index}">{value}</option>
	<!-- END -->
</select>
</div>