<!-- INCLUDE header.html -->

<div id='content'>
	<!-- INCLUDE left.html -->
	<div id="right">
		<div class="page-title">My Account</div>
		<div class="page-wrapper">

			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="gray_box">
			                      <!--DWLayoutTable-->
			                      <tbody><tr>
			                        <td height="21" colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="bar">
			                          <!--DWLayoutTable-->
			                          <tbody><tr>
			                            <td width="8" height="30">&nbsp;</td>
			                            <td width="449" valign="middle" class="big_text">Perhaps we can get you started in one of these areas:</td>
			                          </tr>
			                          </tbody></table>                      </td>
			                          </tr>
			                      <tr>
			                        <td width="8" height="40">&nbsp;</td>
			                        <td width="449" valign="middle" class="text">
			                          <a href="./" target="_self" class="cate_text"><strong>Go to our homepage.</strong></a><br>						
			                          Browse our daily deals and promotional offers.<br>						</td>
			                      </tr>
			                      <tr>
			                        <td height="40">&nbsp;</td>
			                        <td valign="middle" class="text">
			                          <a href="?profile" target="_self" class="cate_text">
			                            <strong>Edit my profile </strong> </a><br>				  
			                          View or modify your information					  </td>
			                      </tr>
			                      <tr>
			                        <td height="40">&nbsp;</td>
			                        <td valign="middle" class="text">
			                          <a href="?order" target="_self" class="cate_text"><strong>Order History</strong></a><br>
			                          See a complete listing of all completed orders placed on your account					  </td>
			                      </tr>
			                      <tr>
			                        <td height="40">&nbsp;</td>
			                        <td valign="middle" class="text">
			                          <a href="?password" target="_self" class="cate_text"><strong>Manage password</strong></a><br>
			                        Change password					  </td>
			        </tr>
			                      <tr>
			                        <td height="60">&nbsp;</td>
			                        <td>&nbsp;</td>
			                      </tr>

			    </tbody></table>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<!-- INCLUDE footer.html -->