<!-- INCLUDE header.html -->

<div id='content'>
	<!-- INCLUDE left.html -->
	<div id="right">
		<div class="page-title">Sign In</div>
		<div class="page-wrapper">
			<div class="error">{$msg}</div>
			<form action="?login/1" method="post">
				<table cellspacing="5" border="0" class="reg">
					<tr>
						<th>E-mail:</th>
						<td>
							<input type="text" name="email" class="text" />
						</td>
					</tr>
					<tr>
						<th>Password:</th>
						<td>
							<input type="password" name="password" class="text" />
						</td>
					</tr>	
					<tr>
						<th> </th>
						<td>
							<input type="submit" value="Sign In" />
						</td>
					</tr>
				</table>
			</form>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<!-- INCLUDE footer.html -->