	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>{if($alltitle)}{$alltitle}{else}{$title} - {$config['site_name']}{/if}</title>
	<meta name="description" content="{if($description)}{$description}{else}{$config['index_description']}{/if}" />
	<meta name="keywords" content="{if($keywords)}{$keywords}{else}{$config['index_keywords']}{/if}" />
	<link rel="stylesheet" href="end_www/view/default/css/blog.css" type="text/css" media="all" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
	<script src="end_www/view/default/js/jquery.js"></script>
