<!-- INCLUDE header.html -->

<div id='content'>
	<!-- INCLUDE left.html -->
	<div id="right">
		<div class="page-title">Change Password</div>
		<div class="page-wrapper">
			<div class="error">{$msg}</div>
			<form action="?password" method="post" onsubmit="return checkform(this)">
				<table border="0">
					<tr>
						<td>Your current password:</td>
						<td><input type="password" name="password" class="text" required="true" />*</td>
					</tr>
					<tr>
						<td>Your new password:</td>
						<td><input type="password" name="new_password" class="text" required="true" />*</td>
					</tr>
					<tr>
						<td>Re-enter password:</td>
						<td><input type="password" name="new_password2" class="text" required="true" />*</td>
					</tr>
					<tr>
						<td colspan="2">
							<input type="submit" value="Submit" />
						</td>
					</tr>
				</table>
			</form>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<script>
function checkform()
{
	if ($('input[name=new_password]').val() != $('input[name=new_password2]').val())
	{
		alert('Passwords do not match!');
		return false;
	}
	var inputs = $('input[required]');
	for(var i = 0;i<inputs.length;i++)
	{
		if (inputs.eq(i).val() == '')
		{
			inputs.get(i).focus();
			return false;
		}
	}
	return true;
}
</script>
<!-- INCLUDE footer.html -->