<!-- INCLUDE header.html -->

<div id='content'>
	<!-- INCLUDE left.html -->
	<div id="right">
		<div class="list-title">Search result of "{$_GET['q']}"</div>
		<div class="list-wrapper">
			{if(!$items || count($items) == 0)}
				Not found
			{else}
				{foreach($items as $c)}
				<div class="list-item">
					<div class="title">{$c['name']}</div>
					<div class="img">
						<a href="?detail/{$c['product_id']}" title="{$c['name']}"><img alt="{$c['name']}" src="{thumb($c['image'],150,120)}" /></a>
					</div>
					<div class="info">
						<div class="price">
							{if($_SESSION['user'] && $_SESSION['user']['status'] == 2)}
								${$c['wholesale']}
							{else}
								${$c['retail']}
							{/if}
						</div>
						<a href="?detail/{$c['product_id']}">View Detail&gt;&gt;</a>
					</div>
				</div>
				{/foreach}
			{/if}
			<div class="pager">
				{pager_prev("&lt;&lt;")}
				{pager_numbers()}
				{pager_next("&gt;&gt;")}
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>

<!-- INCLUDE footer.html -->