
<table cellpadding="0" cellspacing="1" border="0" class="align_center list_table" id="admin_table">
            	<thead>
                   	<tr>
                        <th width="150">时间</th>
                   		<th >内容</th>
                        
                    </tr>
                </thead>
                <tbody>
                
          		  	<!-- BEGIN announces -->
            		<tr>
                        <td>{created_at}</td>
               		    <td>{content}</td>
                        
               		</tr>
                    <!-- END -->
                    
                </tbody>
                
</table>

<script>

function delete_user(id,value,o)
{
	$(o).attr('to_be_delete','yes').html('{DELETING}').unbind('click');
	$.post('admin.php?p=ajax&m=delete&column=status&table=programannounce&id='+id,{ value:value },delete_callback);
}

function delete_callback(s)
{
	if(parseInt(s)>0)
		$('[to_be_delete=yes]').parent().parent().fadeOut();
		else
			alert(s);
}
</script>