<div >
            <table cellpadding="0" cellspacing="0" border="0" id="item_table" class="list_table" >
            	<thead>
                   	<tr>
                		<th width="" order="original_filename">文件名</th>
						<th width="">预览视频</th>
                        <th width="100" order="category_id">{ITEM_CATEGORY}</th>
                       <th width="130" order="created_at">{ITEM_CREATE_TIME}</th>
						<th width="50" order="status">{ITEM_STATUS}</th>
                        <th width="70">{OPTIONS}</th>
                    </tr>
                </thead>
                <tbody>
                
          		  	<!-- BEGIN items -->
            		<tr>
               		 	<td>{original_filename}</td>
               		 	<td><a href="/player/player.php?flvID={video_file_id}" target="_blank">预览</a></td>
                        <td>{category_name}</td>
               		    <td>{preg_replace("/\:\d\d$/","",created_at)}</td>
						<td><div admin_type="text"
		              	admin_para="m=update&table={top.table}&column=status&id={video_file_id}" 
		                    admin_select_value="{status}"
		                    admin_select_source_id="status_select"
		                    admin_trigger="click"
							>{show_status:status}</div></td>
                        	<td>
								<?php if (check_show('delete')):?>
	                            <a href="javascript:;" onclick="if (confirm('{DELETE_CONFIRM}')) change_status({video_file_id},2,this);">{DELETE}</a>
								<?php endif;?>&nbsp;
								
	                        </td>
               		</tr>
                    <!-- END -->
                    
                </tbody>
                
            </table>
</div>
            {pager}
            
            
<div style="display:none">
<select id="category_select">
	{category_tree}
</select>
</div>


<div style="display:none">
<select id="status_select">
	<!-- BEGIN statuses -->
	<option value="{index}">{value}</option>
	<!-- END -->
</select>
</div>