<div >
            <table cellpadding="0" cellspacing="0" border="0" id="item_table" class="list_table" >
            	<thead>
                   	<tr>
                		<th width="50">{ITEM_ORDER}</th>
                		<th width="" order="title">标题</th>
                        <th width="100" order="category_id">{ITEM_CATEGORY}</th>
                       <th width="130" order="created_at">{ITEM_CREATE_TIME}</th>
						<th width="50" order="status">{ITEM_STATUS}</th>
                        <th width="100">{OPTIONS}</th>
                    </tr>
                </thead>
                <tbody>
                
          		  	<!-- BEGIN items -->
            		<tr>
               		 	<td><div admin_type="text"
                        	admin_para="m=update&table={top.table}&column=order_id&id={video_id}" 
                            admin_trigger="click" style="text-align:center">{order_id}</div>
                        </td>
               		 	<td><div admin_type="text"
                        	admin_para="m=update&table={top.table}&column=title&id={video_id}" 
                            admin_trigger="click">{title}</div>
                        </td>
                        <td><div admin_type="text"
                        	admin_para="m=update&table={top.table}&column=category_id&id={video_id}" 
                            admin_select_value="{category_id}"
                            admin_select_source_id="category_select"
                            admin_trigger="click">{category_name}</div>
                        </td>
               		    <td>{preg_replace("/\:\d\d$/","",created_at)}</td>
						<td><div admin_type="text"
		              	admin_para="m=update&table={top.table}&column=status&id={video_id}" 
		                    admin_select_value="{status}"
		                    admin_select_source_id="status_select"
		                    admin_trigger="click"
							>{show_status:status}</div></td>
                        	<td>
								<?php if (check_show('update')):?>
	                        	<a href = "admin.php?p=item&action=edit_item&item_id={video_id}&category_id={top.category_id}" >{EDIT}</a>
								<?php endif;?>&nbsp;
								<?php if (check_show('delete')):?>
	                            <a href="javascript:;" onclick="if (confirm('{DELETE_CONFIRM}')) change_status({video_id},2,this);">{DELETE}</a>
								<?php endif;?>&nbsp;
								<a href="admin.php?p=comment&itemid={program_id}&itemtype=video" target="_blank">评论</a>			
	                        </td>
               		</tr>
                    <!-- END -->
                    
                </tbody>
                
            </table>
</div>
            {pager}
            
            
<div style="display:none">
<select id="category_select">
	{category_tree}
</select>
</div>


<div style="display:none">
<select id="status_select">
	<!-- BEGIN statuses -->
	<option value="{index}">{value}</option>
	<!-- END -->
</select>
</div>